//Import fonts (google fonts)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

// Some fonts-related global variables
$bodyFont: 'Open Sans', sans-serif;
$headerFont: "Roboto", sans-serif;
$baseFontSize: 14pt;
$headingScale: 4;