@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
  font-family: "KC";
  src: url("./fonts/keepCalm.ttf"); }
html {
  min-height: 100%;
  position: relative; }

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0pt;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  line-height: 21pt;
  text-align: center;
  overflow: scroll;
  height: 100vh; }

h1 {
  font-size: 34pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h2 {
  font-size: 30pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h3 {
  font-size: 26pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h4 {
  font-size: 22pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h5 {
  font-size: 18pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h6 {
  font-size: 14pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

p {
  margin-top: 10px;
  margin-bottom: 10px; }

#page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh; }

#errorMrk {
  font-size: 60pt;
  font-weight: bold;
  color: red;
  margin: 40px 0; }

#errorMsg {
  font-size: 18pt;
  font-weight: bold;
  color: red;
  margin: 40px 0; }

.left {
  order: 0;
  padding: 5% 2%;
  background-color: #b2ffb2; }

.stimuli {
  order: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%; }
  .stimuli .blank {
    order: 0;
    flex: 0 1 5vh; }
  .stimuli .blank_medium {
    order: 0;
    flex: 0 1 25vh; }
  .stimuli .blank_bigger {
    order: 0;
    flex: 0 1 20vh; }
  .stimuli .holders {
    order: 1;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    flex: 0 1 auto;
    margin-bottom: 25px; }
    .stimuli .holders img {
      height: 20vh; }
    .stimuli .holders .instructions {
      text-align: justify;
      font-weight: normal;
      font-size: 11pt;
      line-height: 16.5pt;
      margin: 0 2.5% 10% 2.5%;
      overflow-y: scroll;
      height: 40vh; }
      .stimuli .holders .instructions h1 {
        font-size: 18pt;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h2 {
        font-size: 6pt;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h3 {
        font-size: -6pt;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h4 {
        font-size: -18pt;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h5 {
        font-size: -30pt;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h6 {
        font-size: -42pt;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
    .stimuli .holders .space_bar {
      font-weight: normal;
      font-size: 12pt;
      font-family: "KC", sans-serif; }
  .stimuli .messages {
    order: 2;
    font-size: 12pt;
    flex: 0 1 auto; }

.right {
  order: 2;
  padding: 5% 2%;
  background: #b2ffb2; }

.txt {
  width: 20vw;
  color: #404040;
  margin: auto;
  font-size: 14pt;
  font-weight: bold;
  line-height: 18pt;
  white-space: nowrap; }

.wrd {
  color: #3425ff; }

.or {
  margin: 20px 0px;
  font-weight: normal; }

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #de6449;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=iat-mobile.css.map */
