@import 'fonts';

html {
    min-height: 100%;
    position: relative;
}

//Cuerpo
body {
    background-color: #000000;
    color: #ffffff;
    margin: 0pt;
    font-family: $bodyFont;
    font-size: $baseFontSize;
    line-height: $baseFontSize * 1.5;
    text-align: center;
    // Allow only vertical scroll
    overflow-y: scroll;
    // Test: change 100 vh for 100%
    height: 100%;
}

//Encabezados
@for $i from 1 through 6 {
    h#{$i} {
        font-size: $baseFontSize + $headingScale * (6 - $i);
        font-family: $headerFont;
        font-weight: normal;
        color: #ffffff;
    }
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

#errorMrk {
    font-size: 60pt;
    font-weight: bold;
    color: red;
    margin: 40px 0;
}

#errorMsg {
    font-size: 18pt;
    font-weight: bold;
    color: red;
    margin: 40px 0;
}

.left {
    order: 0;
    padding: 5% 2%;
    background-color: #b2ffb2
}

.post-dialog {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
}

.stimuli {
    order: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 50%;

    .blank {
        order: 0;
        flex: 0 1 5vh;
    }

    .blank_medium {
        order: 0;
        flex: 0 1 25vh;
    }

    .blank_bigger {
        order: 0;
        flex: 0 1 20vh;
    }

    .holders {
        order: 1;
        font-weight: normal;
        font-family: $bodyFont;
        font-size: 12pt;
        flex: 0 1 auto;
        margin-bottom: 25px;

        img {
            height: 20vh;
        }

        .instructions {
            text-align: justify;
            font-weight: normal;
            font-size: 11pt;
            line-height: 11pt * 1.5;
            margin: 0 2.5% 10% 2.5%;
            overflow-y: auto;
            height: 40vh;

            //Encabezados
            @for $i from 1 through 6 {
                h#{$i} {
                    font-size: 12pt * (2.5 - $i);
                    font-family: $headerFont;
                    font-weight: normal;
                    color: #ffffff;
                }
            }

        }

        .space_bar {
            font-weight: normal;
            font-size: 12pt;
            font-family: $headerFont;
        }

    }

    .messages {
        order: 2;
        font-size: 12pt;
        flex: 0 1 auto;
    }
}

.right {
    order: 2;
    padding: 5% 2%;
    background: #b2ffb2;
}

.txt {
    width: 20vw;
    color: #404040;
    margin: auto;
    font-size: 14pt;
    font-weight: bold;
    line-height: 12pt * 1.5;
    white-space: nowrap;
}

.wrd {
    color: #3425ff;
}

.or {
    margin: 20px 0px;
    font-weight: normal;
}

.loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #de6449;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
}

.loader-dialog {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #de6449;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
