@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
  font-family: "KC";
  src: url("./fonts/keepCalm.ttf"); }
html {
  min-height: 100%;
  position: relative; }

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0pt;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  line-height: 21pt;
  text-align: center;
  overflow: scroll;
  height: 100vh; }

h1 {
  font-size: 34pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h2 {
  font-size: 30pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h3 {
  font-size: 26pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h4 {
  font-size: 22pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h5 {
  font-size: 18pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

h6 {
  font-size: 14pt;
  font-family: "KC", sans-serif;
  font-weight: normal;
  color: #ffffff; }

p {
  margin-top: 10px;
  margin-bottom: 10px; }

#page {
  padding: 5% 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch; }

#errorMrk {
  font-size: 60pt;
  font-weight: bold;
  color: red;
  margin: 40px 0; }

#errorMsg {
  font-size: 18pt;
  font-weight: bold;
  color: red;
  margin: 40px 0; }

.col {
  margin: 0; }

.left {
  order: 0;
  height: 100%; }

.post-dialog {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999; }

.stimuli {
  order: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 50%; }
  .stimuli .blank {
    order: 0;
    flex: 0 1 5vh; }
  .stimuli .blank_medium {
    order: 0;
    flex: 0 1 25vh; }
  .stimuli .blank_bigger {
    order: 0;
    flex: 0 1 40vh; }
  .stimuli .holders {
    order: 1;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 4vmin;
    flex: 0 1 auto;
    margin-bottom: 25px; }
    .stimuli .holders img {
      height: 170px; }
    .stimuli .holders .instructions {
      text-align: justify;
      font-weight: normal;
      font-size: 2.5vmin;
      line-height: 3.75vmin;
      margin: 0 0 10% 0; }
      .stimuli .holders .instructions span {
        color: #9d9dff; }
      .stimuli .holders .instructions h1 {
        font-size: 3.75vmin;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h2 {
        font-size: 1.25vmin;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h3 {
        font-size: -1.25vmin;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h4 {
        font-size: -3.75vmin;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h5 {
        font-size: -6.25vmin;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
      .stimuli .holders .instructions h6 {
        font-size: -8.75vmin;
        font-family: "KC", sans-serif;
        font-weight: normal;
        color: #ffffff; }
    .stimuli .holders .space_bar {
      font-weight: normal;
      font-size: 3vmin;
      font-family: "KC", sans-serif; }
  .stimuli .messages {
    order: 2;
    font-size: 3vmin;
    flex: 0 1 auto; }

.right {
  order: 2;
  height: 100%; }

.txt {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4vmin;
  font-weight: bold;
  line-height: 6vmin;
  white-space: nowrap; }

.wrd {
  color: #66FF66; }

.or {
  margin: 20px 0px;
  font-weight: normal; }

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #de6449;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto; }

.loader-dialog {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #de6449;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=iat.css.map */
