@import 'fonts';

html {
    min-height: 100%;
    position: relative;
}

//Cuerpo
body {
    background-color: #000000;
    color: #ffffff;
    margin: 0pt;
    font-family: $bodyFont;
    font-size: $baseFontSize;
    line-height: $baseFontSize * 1.5;
    text-align: center;
    overflow: scroll;
    height: 100vh;
}

//Encabezados
@for $i from 1 through 6 {
    h#{$i} {
        font-size: $baseFontSize + $headingScale * (6 - $i);
        font-family: $headerFont;
        font-weight: 500;
        color: #ffffff;
    }
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#page {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#errorMrk {
    font-size: 60pt;
    font-weight: bold;
    color: red;
    margin: 40px 0;
}

#errorMsg {
    font-size: 18pt;
    font-weight: bold;
    color: red;
    margin: 40px 0;
}

.col {
    margin: 0;
}

.left {
    order: 0;
    height: 100%;
}

.post-dialog {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
}

.stimuli {
    order: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 50%;

    .blank {
        order: 0;
        flex: 0 1 5vh;
    }

    .blank_medium {
        order: 0;
        flex: 0 1 25vh;
    }

    .blank_bigger {
        order: 0;
        flex: 0 1 40vh;
    }

    .holders {
        order: 1;
        font-weight: normal;
        font-family: $bodyFont;
        font-size: 4vmin;
        flex: 0 1 auto;
        margin-bottom: 25px;

        img {
            height: 170px;
        }

        .instructions {
            text-align: justify;
            font-weight: normal;
            hyphens: auto;
            font-size: 2.5vmin;
            line-height: 2.5vmin * 1.5;
            margin: 0 0 10% 0;
            span {
                color: #9d9dff;
            }

            //Encabezados
            @for $i from 1 through 6 {
                h#{$i} {
                    font-size: 2.5vmin * (2.5 - $i);
                    font-family: $headerFont;
                    font-weight: 500;
                    color: #ffffff;
                }
            }

        }

        .space_bar {
            font-weight: normal;
            font-size: 3vmin;
            font-family: $headerFont;
        }

    }

    .messages {
        order: 2;
        font-size: 3vmin;
        flex: 0 1 auto;
    }
}

.right {
    order: 2;
    height: 100%;
}

.txt {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4vmin;
    font-weight: bold;
    line-height: 4vmin * 1.5;
    white-space: nowrap;
}

.wrd {
    color: #66FF66;
}

.or {
    margin: 20px 0px;
    font-weight: normal;
}

.loader {
    margin: auto;
}
