@import 'fonts';

.messageContainer {
    p, ul, li {
        text-align: justify;
        hyphens: auto;
    }
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 17%;
    margin: 0 0 5% 0;
}

img.example {
    display: inline-block;
    margin: auto 7px;
    width: 70px;
}

.table_examples {

    margin: 40px auto;
    font-size: $baseFontSize - 3;
    line-height: $baseFontSize - 3;

    td {
        padding: 12px 10px;
    }

    th {
        background-color: #9BCEF5;
        color: white;
        padding: 12px;
        text-align: center;
        font-weight: bold;
    }

    .cat {
        background-color: #9BCEF5;
        color: white;
        padding: 5px;
    }
}

.okBtn {
    width: 100%;
    color: #2ecc71;
    border: 2px #2ecc71 solid;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #2ecc71;
    }

    &:active {
        color: #fff;
        background-color: #1D8047;
        border: 2px #1D8047 solid;
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.keyInstructions {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;

    p {
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: $baseFontSize + 2;
    }
}