@import 'fonts';

body {
    color: #3b3e44;
    margin: 0pt;
    font-family: $bodyFont;
    font-size: $baseFontSize;
    line-height: $baseFontSize * 1.5;
}

@for $i from 1 through 6 {
    h#{$i} {
      font-size: baseFontSize + $headingScale * (6 - $i);
      font-family: $headerFont;
      font-weight: 500;
      color: #0288F0
    }
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

p.sangría-francesa {
    padding-left: 22px;
    text-indent: -22px;
}

button {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 13pt;
    transition: .5s;
    background-color: white;
    word-wrap: normal;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

.énfasis {
    color: #0288F0;
}

table {
    text-align: left;
    border: 1px solid #909090;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #909090;
        border-collapse: collapse;
    }
}

#page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
}

#gridContainer {
    display: grid;
    margin: 5vh 0;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: auto auto;
    justify-items: center;
}

@media only screen and (max-width: 700px) {
    #gridContainer {
        grid-template-columns: 5vw 90vw 5vw;
    }
}


#footer {
    text-align: center !important;
    padding: 2.5% 5%;
    font-size: 10pt;
    color: white;
    background-color: #5EB2F2;
    line-height: 12pt;

    #projectLogo {
        margin-bottom: 20px;
    }

    .logos img {
        display: block;
        margin: 5px auto;
        max-width: 150px;
        min-width: 0;
        width: auto;
    }

    .text {
        margin: 10pt 0 0 0;
        text-align: center;

        p {
            margin: 2pt;
        }

    }

}