@import 'fonts';

.messageContainer {
    grid-column: 2/3;
    grid-row: 1/2;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.input_label {
    display: block;
    margin: 15px 0;
}

.input_instructions {
    display: block;
    margin: 15px 0;
    font-size: $baseFontSize - 2;
    color: #666;
    line-height: $baseFontSize - 2;
}

.main_results {
    background-color: #FFE69A;
    padding: 20px;
    margin: 60px auto;
    border-radius: 0.4%;
    box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
    text-align: justify;
    hyphens: auto;
}

.results_content {
    text-align: justify;
    hyphens: auto;
}

.result {
    color: #FF8758;
    font-weight: bold;
}

.table_stats {
    margin: auto;
    font-size: $baseFontSize - 3;
    line-height: $baseFontSize - 1;

    th,
    td {
        width: 200px;
    }
    
    th {
        background-color: #9BCEF5;
        color: white;
        padding: 12px;
        text-align: center;
        font-weight: bold;
    }

    td {
        padding: 10px;
    }

    .stat {
        background-color: #9BCEF5;
        color: white;
        padding: 5px;
    }

    .option {
        text-align: center;
        padding: 0;
    }

}

.spacer_small {
    margin: 15px 0;
}

.infoButton {
    width: 100%;
    color: #719cf7;
    border: 2px #719cf7 solid;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #719cf7;
    }

    &:active {
        color: #fff;
        background-color: #265fd9;
        border: 2px #265fd9 solid;
    }
}

hr {
    margin: 20px 0;
    border-width: 0 0 1px;
    $color: #FF8758;
    color: $color;
    border-image: linear-gradient(90deg,
            rgba($color, 0),
            rgba($color, 1) 50%,
            rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
}