@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.messageContainer {
  grid-column: 2/3;
  grid-row: 1/2; }

.questionsContainer {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%; }

.input_label, .input_label_error {
  display: inline;
  margin: 15px 0; }

.input_label_error {
  color: #c03352;
  font-weight: bold; }

.input_instructions {
  display: block;
  margin: 15px 0;
  font-size: 12pt;
  color: #666;
  line-height: 12pt; }

.required_mark, .required_mark_error {
  margin: 0px 5px;
  font-size: 12pt;
  color: #808080; }

.required_mark_error {
  color: #741328;
  font-weight: bold; }

.spacer_small {
  margin: 15px 0; }

.wrong_input {
  background-color: #c03352;
  color: #fff;
  padding: 1%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 0px; }

.table_questions {
  width: 90%;
  margin: auto;
  font-size: 11pt;
  line-height: 13pt; }
  .table_questions th,
  .table_questions td {
    width: 200px; }
  .table_questions td {
    padding: 10px; }
  .table_questions .option {
    text-align: center;
    padding: 0; }
  .table_questions input {
    display: inline; }
  .table_questions th, .table_questions .question {
    background-color: #9BCEF5;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: normal; }
    .table_questions th span, .table_questions .question span {
      display: block;
      color: #0288F0;
      text-align: center;
      padding-top: 5px;
      font-weight: bold; }

.buttonsContainer {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center; }

.okBtn {
  width: 100%;
  color: #2ecc71;
  border: 2px #2ecc71 solid; }
  .okBtn:hover, .okBtn:focus {
    color: #fff;
    background-color: #2ecc71; }
  .okBtn:active {
    color: #fff;
    background-color: #1D8047;
    border: 2px #1D8047 solid; }

input, select, textarea {
  display: block; }

textarea {
  width: 100%;
  margin: 15px auto 0px;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 12pt;
  resize: none; }

input[type=tel] {
  color: #555555;
  text-align: left;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #9BCEF5;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 10px;
  background: transparent;
  width: 200px; }
  input[type=tel]:hover {
    outline: none;
    -webkit-appearance: none;
    color: #0288F0; }
  input[type=tel]:focus {
    outline: none;
    -webkit-appearance: none;
    border-width: 3px;
    border-image: linear-gradient(to right, #5EB2F2, #0288F0);
    border-image-slice: 1;
    color: #0288F0; }

input[type=text] {
  color: #555555;
  text-align: left;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #9BCEF5;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 10px;
  background: transparent;
  width: 600px; }
  input[type=text]:hover {
    outline: none;
    -webkit-appearance: none;
    color: #0288F0; }
  input[type=text]:focus {
    outline: none;
    -webkit-appearance: none;
    border-width: 3px;
    border-image: linear-gradient(to right, #5EB2F2, #0288F0);
    border-image-slice: 1;
    color: #0288F0; }

select {
  color: #555555;
  background: transparent;
  text-align: left;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #9BCEF5;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 10px;
  width: 600px; }
  select:hover {
    outline: none;
    -webkit-appearance: none;
    color: #0288F0; }
  select:focus, select:active {
    border-width: 3px;
    border-image: linear-gradient(to right, #5EB2F2, #0288F0);
    border-image-slice: 1;
    color: #0288F0;
    outline: none;
    -webkit-appearance: none; }

hr {
  margin: 20px 0;
  border-width: 0 0 1px;
  color: #FF8758;
  border-image: linear-gradient(90deg, rgba(255, 135, 88, 0), #ff8758 50%, rgba(255, 135, 88, 0) 100%) 0 0 100%;
  border-style: solid; }

/*# sourceMappingURL=survey.css.map */
