@import 'fonts';

@media only screen and (max-width: 1100px) {
    #message {
        text-align: center;
    }
}

#gridContainer {
    display: grid;
    margin: 5% 0%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.messageContainer {
    grid-column: 2/3;
    grid-row: 1/2;
}

.questionsContainer {
    grid-column: 2/3;
    grid-row: 2/3;
}

.input_label {
    display: block;
    margin: 15px 0;
}

.input_label_error {
    @extend .input_label;
    color: rgb(192, 51, 82);
    font-weight: bold;
}

.input_instructions {
    display: block;
    margin: 15px 0;
    font-size: $baseFontSize - 2;
    color: #666;
    line-height: $baseFontSize - 2;
}

.required_mark {
    margin: 0px 5px;
    font-size: $baseFontSize - 2;
    color: #808080;
}

.required_mark_error {
    @extend .required_mark;
    color: rgb(116, 19, 40);
    font-weight: bold;
}

.spacer_small {
    margin: 15px 0;
}

.wrong_input {
    background-color: rgb(192, 51, 82);
    color: #fff;
    padding: 1%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.table_questions {
    margin: auto;
    font-size: $baseFontSize - 3;
    line-height: $baseFontSize - 1;

    th,
    td {
        width: 200px;
    }

    td {
        padding: 10px;
    }

    .option {
        text-align: center;
        padding: 0;
    }

    th {
        background-color: #8e6e97;
        color: white;
        padding: 5px;
        text-align: center;
        font-weight: normal;

        span {
            display: block;
            color: #dd9585;
            text-align: center;
            padding-top: 5px;
            font-weight: bold;
        }
    }

}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.okBtn {
    width: 100%;
    color: #2ecc71;
    border: 2px #2ecc71 solid;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #2ecc71;
    }

    &:active {
        color: #fff;
        background-color: #1D8047;
        border: 2px #1D8047 solid;
    }
}

input[type=tel] {
    text-align: center;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #791e94;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
    background: #f7f7f7;
    width: 200px;
}

input[type=tel]:focus,
input[type=tel]:hover {
    outline: none;
    -webkit-appearance: none;
    background: #77398a;
    color: #ffffff;
}

input[type=text] {
    text-align: center;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #791e94;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
    background: #f7f7f7;
    width: 600px;
}

input[type=text]:focus,
input[type=text]:hover {
    outline: none;
    -webkit-appearance: none;
    background: #77398a;
    color: #ffffff;
}


select {
    background: #f7f7f7;
    text-align: center;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #791e94;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
    width: 600px;
}

select:focus,
select:hover {
    background: #77398a;
    color: #ffffff;
    outline: none;
    -webkit-appearance: none;
}

select:active {
    background: #77398a;
    color: #ffffff;
    outline: none;
    -webkit-appearance: none;
}

hr {
    margin: 20px 0;
    border-width: 0 0 1px;
    $color: #de6449;
    color: $color;
    border-image: linear-gradient(90deg,
            rgba($color, 0),
            rgba($color, 1) 50%,
            rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
}