@import 'fonts';

@media only screen and (max-width: 1100px) {
    #message {
        text-align: center;
    }
}

.messageContainer {
    grid-column: 2/3;
    grid-row: 1/2;
}

.questionsContainer {
    grid-column: 2/3;
    grid-row: 2/3;
}

.input_label {
    display: inline;
    margin: 15px 0;
}

.input_label_error {
    @extend .input_label;
    color: rgb(192, 51, 82);
    font-weight: bold;
}

.input_instructions {
    display: block;
    margin: 15px 0;
    font-size: $baseFontSize - 2;
    color: #666;
    line-height: $baseFontSize - 2;
}

.required_mark {
    margin: 0px 5px;
    font-size: $baseFontSize - 2;
    color: #808080;
}

.required_mark_error {
    @extend .required_mark;
    color: rgb(116, 19, 40);
    font-weight: bold;
}

.spacer_small {
    margin: 15px 0;
}

.wrong_input {
    background-color: rgb(192, 51, 82);
    color: #fff;
    padding: 1%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.table_questions {
    margin: auto;
    font-size: $baseFontSize - 3;
    line-height: $baseFontSize - 1;

    th,
    td {
        width: 200px;
    }

    td {
        padding: 10px;
    }

    .option {
        text-align: center;
        padding: 0;
    }

    th {
        background-color: #9BCEF5;
        color: white;
        padding: 5px;
        text-align: center;
        font-weight: normal;

        span {
            display: block;
            color: #0288F0;
            text-align: center;
            padding-top: 5px;
            font-weight: bold;
        }
    }

}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.okBtn {
    width: 100%;
    color: #2ecc71;
    border: 2px #2ecc71 solid;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #2ecc71;
    }

    &:active {
        color: #fff;
        background-color: #1D8047;
        border: 2px #1D8047 solid;
    }
}

input, select, textarea {
    display: block;
}

textarea {
    width: 100%;
    margin: 15px auto 0px;
    font-family: "Montserrat", sans-serif;
    color: #555555;
    font-size: 12pt;
    resize: none;
}

input[type=tel] {
    color: #555555;
    text-align: left;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #9BCEF5;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    background: transparent;
    width: 200px;

    &:hover {
        outline: none;
        -webkit-appearance: none;
        color: #0288F0;
    }

    &:focus {
        outline: none;
        -webkit-appearance: none;
        border-width: 3px;
        border-image: linear-gradient(to right, #5EB2F2 , #0288F0);
        border-image-slice: 1;
        color: #0288F0;
    }
}

input[type=text] {
    color: #555555;
    text-align: left;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #9BCEF5;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    background: transparent;
    width: 600px;

    &:hover {
        outline: none;
        -webkit-appearance: none;
        color: #0288F0;
    }

    &:focus {
        outline: none;
        -webkit-appearance: none;
        border-width: 3px;
        border-image: linear-gradient(to right, #5EB2F2 , #0288F0);
        border-image-slice: 1;
        color: #0288F0;
    }
}

select {
    color: #555555;
    background: transparent;
    text-align: left;
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #9BCEF5;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    width: 600px;

    &:hover {
        outline: none;
        -webkit-appearance: none;
        color: #0288F0;
    }

    &:focus, &:active {
        border-width: 3px;
        border-image: linear-gradient(to right, #5EB2F2 , #0288F0);
        border-image-slice: 1;
        color: #0288F0;
        outline: none;
        -webkit-appearance: none;
    }
}

hr {
    margin: 20px 0;
    border-width: 0 0 1px;
    $color: #FF8758;
    color: $color;
    border-image: linear-gradient(90deg,
            rgba($color, 0),
            rgba($color, 1) 50%,
            rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
}