@import 'fonts';

html {
    min-height: 100%;
    position: relative;
}

//Cuerpo
body {
    background-color: #000000;
    color: #ffffff;
    margin: 0pt;
    font-family: $bodyFont;
    font-size: $baseFontSize;
    line-height: $baseFontSize * 1.5;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

//Encabezados
@for $i from 1 through 6 {
    h#{$i} {
        font-size: baseFontSize + $headingScale * (6 - $i);
        font-family: $headerFont;
        font-weight: normal;
        color: #ffffff;
    }
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#page {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#errorMrk {
    font-size: 60pt;
    font-weight: bold;
    color: red;
    margin: 40px 0;
}

#errorMsg {
    font-size: 18pt;
    font-weight: bold;
    color: red;
    margin: 40px 0;
}

.col {
    margin: 0 5%;
}

.left {
    order: 0;
    height: 100%;
}

.stimuli {
    order: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .blank {
        order: 0;
        flex: 0 1 30vh;
    }

    .holders {
        order: 1;
        font-weight: normal;
        font-family: $bodyFont;
        font-size: 30pt;
        flex: 0 1 auto;
        margin-bottom: 50px;

        .instructions {
            font-weight: normal;
            font-size: 17pt;
            line-height: 17pt * 1.5;
            span {
                color: #9d9dff;
            }
        }

        .space_bar {
            font-weight: normal;
            font-size: 20pt;
            margin-top: 20px;
            font-family: $headerFont;
        }

    }

    .messages {
        order: 2;
        flex: 0 1 auto;
    }
}

.right {
    order: 2;
    height: 100%;
}

.txt {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 30pt;
    font-weight: bold;
    line-height: 30pt * 1.5;
}

.wrd {
    color: #66FF66;
}

.or {
    margin: 20px 0px;
    font-weight: normal;
}

.loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #de6449;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.instructions {
    color: white;
    font-size: 18pt;
    text-align: center;
}