@import 'fonts';

@media only screen and (max-width: 1100px) {
    #message {
        text-align: center;
    }
}

#gridContainer {
    display: grid;
    margin: 5%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto;
    justify-items: center;
}

.messageContainer {
    grid-column: 2/3;
    grid-row: 1/2;
}

.table_examples {
    margin: 15px auto;
    font-size: $baseFontSize - 3;
    line-height: $baseFontSize - 1;

    th,
    td {
        width: 200px;
    }

    td {
        padding: 10px;
    }

    th {
        background-color: #8e6e97;
        color: white;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }

    .cat {
        background-color: #8e6e97;
        color: white;
        padding: 5px;
    }
}

.keyInstructions {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;

    p {
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: $baseFontSize + 2;
    }
}