@import 'fonts';

@media only screen and (max-width: 1100px) {
    #message {
        text-align: center;
    }
}

#gridContainer {
    display: grid;
    margin: 5%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 50% 20%;
    justify-items: center;
}

.messageContainer {
    grid-column: 2/3;
    grid-row: 1/2;
}

.questionsContainer {
    grid-column: 2/3;
    grid-row: 2/3;

    p {
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: $baseFontSize;
    }

    .input_label {
        display: block;
        margin: 15px 0;
    }

    .spacer_small {
        margin: 15px 0;
    }

    table {
        margin: auto;
        text-align: center;
    }

    table, th, td {
        border: 1px solid #909090;
        border-collapse: collapse;
    }

    th, td {
        width: 200px;
        font-weight: bold;
    }

    td {
        color: whitesmoke;

        &.skin_1 {
            background-color: rgb(101, 77, 62);
        } 
        &.skin_2 {
            background-color: rgb(119, 87, 65);
        } 
        &.skin_3 {
            background-color: rgb(135, 98, 73);
        } 
        &.skin_4 {
            background-color: rgb(148, 108, 81);
        } 
        &.skin_5 {
            background-color: rgb(160, 118, 90);
        } 
        &.skin_6 {
            background-color: rgb(168, 127, 100);
        } 
        &.skin_7 {
            background-color: rgb(177, 136, 108);
        } 
        &.skin_8 {
            background-color: rgb(182, 146, 121);
        } 
        &.skin_9 {
            background-color: rgb(190, 157, 134);
        } 
        &.skin_10 {
            background-color: rgb(197, 166, 145);
        } 
        &.skin_11 {
            background-color: rgb(200, 172, 153);
        } 
    }
    th {
        background-color: #8e6e97;
        color: white;
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.okBtn {
    width: 100%;
    color: #2ecc71;
    border: 2px #2ecc71 solid;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #2ecc71;
    }

    &:active {
        color: #fff;
        background-color: #1D8047;
        border: 2px #1D8047 solid;
    }
}

input[type=tel] {
    text-align: center; 
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #592c5f;
    transition: all 1s ease-in-out;
    margin-bottom: 10px;
    background: #f7f7f7;
    width: 200px;
}

input[type=tel]:focus, input[type=tel]:hover  {
    outline: none;
    -webkit-appearance: none;
    background: #b29eb4;
    color: #ffffff;
}

select {
    background: #f7f7f7;
    text-align: center; 
    -webkit-appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #592c5f;
    transition: all 1s ease-in-out;
    margin-bottom: 10px;
    width: 600px;
}

select:focus, select:hover {
    background: #b29eb4;
    color: #ffffff;
    outline: none;
    -webkit-appearance: none;
}

select:active {
    background: #b29eb4;
    color: #ffffff;
    outline: none;
    -webkit-appearance: none;
}