@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
  font-family: "KC";
  src: url("./fonts/keepCalm.ttf"); }
@media only screen and (max-width: 1100px) {
  #message {
    text-align: center; } }
#gridContainer {
  display: grid;
  margin: 5%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 50% 20%;
  justify-items: center; }

.messageContainer {
  grid-column: 2/3;
  grid-row: 1/2; }

.questionsContainer {
  grid-column: 2/3;
  grid-row: 2/3; }
  .questionsContainer .input_label, .questionsContainer .input_label_error {
    display: block;
    margin: 15px 0; }
  .questionsContainer .input_label_error {
    color: #c03352;
    font-weight: bold; }
  .questionsContainer .input_instructions {
    display: block;
    margin: 15px 0;
    font-size: 12pt;
    color: #666;
    line-height: 12pt; }
  .questionsContainer .required_mark {
    margin: 0px 5px;
    font-size: 12pt;
    color: #808080; }
    .questionsContainer .required_mark_error {
      color: #741328;
      font-weight: bold; }
  .questionsContainer .spacer_small {
    margin: 15px 0; }
  .questionsContainer .table_skin {
    margin: auto;
    text-align: center;
    border: 1px solid #909090;
    border-collapse: collapse; }
    .questionsContainer .table_skin th,
    .questionsContainer .table_skin td {
      border: 1px solid #909090;
      border-collapse: collapse;
      width: 200px;
      font-weight: bold;
      padding: 5px; }
    .questionsContainer .table_skin th {
      background-color: #8e6e97;
      color: white; }
    .questionsContainer .table_skin td {
      color: whitesmoke; }
      .questionsContainer .table_skin td.skin_1 {
        background-color: #654d3e; }
      .questionsContainer .table_skin td.skin_2 {
        background-color: #775741; }
      .questionsContainer .table_skin td.skin_3 {
        background-color: #876249; }
      .questionsContainer .table_skin td.skin_4 {
        background-color: #946c51; }
      .questionsContainer .table_skin td.skin_5 {
        background-color: #a0765a; }
      .questionsContainer .table_skin td.skin_6 {
        background-color: #a87f64; }
      .questionsContainer .table_skin td.skin_7 {
        background-color: #b1886c; }
      .questionsContainer .table_skin td.skin_8 {
        background-color: #b69279; }
      .questionsContainer .table_skin td.skin_9 {
        background-color: #be9d86; }
      .questionsContainer .table_skin td.skin_10 {
        background-color: #c5a691; }
      .questionsContainer .table_skin td.skin_11 {
        background-color: #c8ac99; }
  .questionsContainer .table_questions {
    margin: auto;
    text-align: center;
    border: 1px solid #909090;
    border-collapse: collapse; }
    .questionsContainer .table_questions th,
    .questionsContainer .table_questions td {
      border: 1px solid #909090;
      border-collapse: collapse;
      width: 200px;
      font-weight: bold;
      padding: 5px; }
    .questionsContainer .table_questions th {
      background-color: #8e6e97;
      color: white; }

.buttonsContainer {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center; }

.okBtn {
  width: 100%;
  color: #2ecc71;
  border: 2px #2ecc71 solid; }
  .okBtn:hover, .okBtn:focus {
    color: #fff;
    background-color: #2ecc71; }
  .okBtn:active {
    color: #fff;
    background-color: #1D8047;
    border: 2px #1D8047 solid; }

input[type=tel] {
  text-align: center;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #592c5f;
  transition: all 1s ease-in-out;
  margin-bottom: 10px;
  background: #f7f7f7;
  width: 200px; }

input[type=tel]:focus,
input[type=tel]:hover {
  outline: none;
  -webkit-appearance: none;
  background: #b29eb4;
  color: #ffffff; }

select {
  background: #f7f7f7;
  text-align: center;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #592c5f;
  transition: all 1s ease-in-out;
  margin-bottom: 10px;
  width: 600px; }

select:focus,
select:hover {
  background: #b29eb4;
  color: #ffffff;
  outline: none;
  -webkit-appearance: none; }

select:active {
  background: #b29eb4;
  color: #ffffff;
  outline: none;
  -webkit-appearance: none; }

hr {
  margin: 20px 0;
  border-width: 0 0 1px;
  color: #de6449;
  border-image: linear-gradient(90deg, rgba(222, 100, 73, 0), #de6449 50%, rgba(222, 100, 73, 0) 100%) 0 0 100%;
  border-style: solid; }

/*# sourceMappingURL=survey.css.map */
