<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Prueba de Asociaciones Implícitas | Implicit Association Test -->
    <!-- Please, report any issues or bugs at: https://github.com/pablorm296/IAT-PRODER -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <title>Prueba de Asociaciones Implícitas | {% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>