{% extends "base.html" %}
{% block head %}
<!-- Estilos -->
<link rel="stylesheet" href="Static/style/main.css">
<link rel="stylesheet" href="Static/style/bye.css">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- JS -->
<script src="Static/js/bye.min.js"></script>

{# If mobile, use orientationCheck script #}
{% if session["mobile"] %}
<script src="Static/js/orientationCheck.min.js"></script>
{% endif %}

{% endblock %}
{% block title %} Bienvenido {% endblock %}
{% block body %}
<div id="page">
    <div id="content">
        <div id="gridContainer">
            <div class="item messageContainer">
                <h1>¡Muchas gracias por participar!</h1>
                <p>
                    Recuerda que <span class="énfasis">tus resultados reflejan estereotipos sociales que muchas veces reproducimos de forma
                    inadvertida</span>. No son una evaluación definitiva de tu preferencia implícita. Pueden estar
                    influenciados por variables relacionadas con el ejercicio (por ejemplo, las etiquetas de categoría o
                    elementos particulares utilizados para representar las categorías en el IAT) o por tu propio estado
                    personal al contestar el ejercicio.
                </p>
                <p>
                    Los resultados se proporcionan solo con fines educativos. Para mayor información sobre el racismo en
                    México y las pruebas IAT, te recordamos que visites estos sitios y documentos:
                </p>
                <p class="sangría-francesa">
                    Solís, Patricio, Güémez Graniel, Braulio y Lorenzo Holm, Virginia, <i>Por mi raza hablará la
                        desigualdad, Efectos de las características étnico-raciales en la desigualdad de oportunidades
                        en México</i>,
                    México, Oxfam, 2019. Documento disponible <a
                        href="https://www.oxfammexico.org/sites/default/files/Por%20mi%20raza%20hablara%20la%20desigualdad_0.pdf">aquí</a>.
                </p>
                <p class="sangría-francesa">
                    Solís, Patricio, <i>et al.</i>, "Discriminación étnico-racial en México: una taxonomía de las
                    prácticas", en
                    Jesús Rodríguez Zepeda y Teresa González L. Corvera (coords.), <i>La métrica de lo intangible: del
                        concepto a la medición de la discriminación</i>,
                    México, Consejo Nacional para Prevenir la Discriminación y Universidad de Guadalajara, 2019.
                    Documento disponible <a
                        href="http://sindis.conapred.org.mx/investigaciones/la-metrica-de-lo-intangible-del-concepto-a-la-medicion-de-la-discriminacion/">aquí</a>
                </p>
                <p class="sangría-francesa">
                    Navarrete, Federico <i>México racista, una denuncia</i>,
                    México, Grijalbo, 2016. Más información sobre el libro <a
                        href="http://www.elem.mx/obra/datos/212762">aquí</a>
                </p>
                <p class="sangría-francesa">
                    Saldívar, Emiko, "Racismo en México: Apuntes críticos sobre etnicidad y diferencias culturales", en
                    A. Castellanos y G. Landazuri (eds.), <i>Racismos y otras formas de intoleracnia de Norte a Sur en
                        América Latina</i>,
                    México, Universidad Autónoma Metropolitana y Juan Pablos Editor, 2012.
                </p>
            </div>
            <div class="item buttonsContainer">
                <button id="InfoButton" class="infoButton">Ir a la página del Proyecto de Discriminación Étnico-Racial
                    en México</button>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="logos">
            <img id="projectLogo" src="Static/imgs/theme/logo_disc_white.png" alt="Logo PRODER (Blanco)">
            <img id="colmexLogo" src="Static/imgs/theme/logo_colmex_white.svg"
                alt="Logo del Colegio de México (Blanco)">
        </div>
        <div class="text">
            <p>
                Todos los derechos reservados. Proyecto sobre Discriminación Étnico-Racial en México, El Colegio de
                México
                A.C. © 2020
            </p>
            <p>
                Carretera Picacho Ajusco 20, Col. Ampliación Fuentes del Pedregal, C.P. 14110, Tlalpan, Ciudad de
                México
            </p>
        </div>
    </div>
</div>
{% endblock %}