{% extends "base.html" %}
{% block head %}
<!-- Estilos -->

{# Conditional iat style sheet #}
{% if session["mobile"] %}
    <link rel="stylesheet" href="Static/style/iat-mobile.css">
{% else %}
    <link rel="stylesheet" href="Static/style/iat.css">
{% endif %}

{# Conditional meta (apple full screen) #}
{% if session["mobile"] %}
    <meta name="apple-mobile-web-app-capable" content="yes">
{% endif %}

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/5.0.0/screenfull.min.js" integrity="sha256-syuFHf7mRNoTlsx0tObV2rxlKzXoz4kfNuPo8f3pSiU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="Static/js/api/api.min.js"></script>

{# Conditional iat js script #}
{% if session["mobile"] %}
    <script src="Static/js/iat-mobile.min.js"></script>
    <script src="Static/js/orientationCheck.min.js"></script>
{% else %}
    <script src="Static/js/iat.min.js"></script>
{% endif %}

{% endblock %}
{% block title %} Ejercicio {% endblock %}
{% block body %}
<div id="postDialog" class="post-dialog">
    <div id="loader-dialog" class="loader-dialog"></div>
</div>
<div id="page">
    <div id="leftCol" class="col left">
        <div id="leftColTxt" class="txt">
            <span class="img">Izquierda</span>
            <span class="or">o</span>
            <span class="wrd"></span>
        </div>
    </div>
    <div class="col stimuli">
        <div id="blank" class="blank">

        </div>
        <div class="holders">
            <div id="loader" class="loader">
                <img src="/Static/imgs/theme/loader.svg" alt="">
            </div>
            <div id="instructions" class="instructions"></div>
            <div id="space_bar" class="space_bar"></div>
            <div id="stimHolder_1" class="stimHolder"></div>
            <div id="stimHolder_2" class="stimHolder"></div>
            <div id="stimHolder_3" class="stimHolder"></div>
            <div id="stimHolder_4" class="stimHolder"></div>
            <div id="stimHolder_5" class="stimHolder"></div>
            <div id="stimHolder_6" class="stimHolder"></div>
            <div id="stimHolder_7" class="stimHolder"></div>
            <div id="stimHolder_8" class="stimHolder"></div>
            <div id="stimHolder_9" class="stimHolder"></div>
            <div id="stimHolder_10" class="stimHolder"></div>
            <div id="stimHolder_11" class="stimHolder"></div>
            <div id="stimHolder_12" class="stimHolder"></div>
            <div id="stimHolder_13" class="stimHolder"></div>
            <div id="stimHolder_14" class="stimHolder"></div>
            <div id="stimHolder_15" class="stimHolder"></div>
            <div id="stimHolder_16" class="stimHolder"></div>
            <div id="stimHolder_17" class="stimHolder"></div>
            <div id="stimHolder_18" class="stimHolder"></div>
            <div id="stimHolder_19" class="stimHolder"></div>
            <div id="stimHolder_20" class="stimHolder"></div>
            <div id="stimHolder_21" class="stimHolder"></div>
            <div id="stimHolder_22" class="stimHolder"></div>
            <div id="stimHolder_23" class="stimHolder"></div>
            <div id="stimHolder_24" class="stimHolder"></div>
            <div id="stimHolder_25" class="stimHolder"></div>
            <div id="stimHolder_26" class="stimHolder"></div>
            <div id="stimHolder_27" class="stimHolder"></div>
            <div id="stimHolder_28" class="stimHolder"></div>
            <div id="stimHolder_29" class="stimHolder"></div>
            <div id="stimHolder_30" class="stimHolder"></div>
            <div id="stimHolder_31" class="stimHolder"></div>
            <div id="stimHolder_32" class="stimHolder"></div>
            <div id="stimHolder_33" class="stimHolder"></div>
            <div id="stimHolder_34" class="stimHolder"></div>
            <div id="stimHolder_35" class="stimHolder"></div>
            <div id="stimHolder_36" class="stimHolder"></div>
            <div id="stimHolder_37" class="stimHolder"></div>
            <div id="stimHolder_38" class="stimHolder"></div>
            <div id="stimHolder_39" class="stimHolder"></div>
            <div id="stimHolder_40" class="stimHolder"></div>
        </div>
        <div class="messages">
            <p id="rndCount">Ronda 1 de 7</p>
            <p id="errorMrk">X</p>
            <p id="errorMsg">¡Categoría incorrecta! Inténtalo de nuevo</p>
        </div>
    </div>
    <div id="rightCol" class="col right">
        <div id="rightColTxt" class="txt">
            <span class="img">Derecha</span>
            <span class="or">o</span>
            <span class="wrd"></span>
        </div>
    </div>
</div>
<script>
    myAPI = new iatAPI();
</script>
{% endblock %}