{% extends "base.html" %}
{% block head %}
<!-- Estilos -->
<link rel="stylesheet" href="Static/style/main.css">
<link rel="stylesheet" href="Static/style/instructions.css">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- JS -->
<script src="Static/js/api/api.min.js"></script>
<script src="Static/js/instructions.min.js"></script>
{% endblock %}
{% block title %} Instrucciones {% endblock %}
{% block body %}
<div id="page">
    <div id="content">
        <div id="gridContainer">
            <div class="item messageContainer">
                <h1>Antes de empezar...</h1>
                <p>Por favor, observa con atención las palabras e imágenes que tendrás que categorizar.</p>
                <table class="table_examples">
                    <tr>
                        <th>Categoría</th>
                        <th>Ejemplos</th>
                    </tr>
                    <tr>
                        <td class="cat">Palabras buenas</td>
                        <td>
                            {% for word in good_words %}
                                {% if loop.last %}
                                    {{ word.content }}
                                {% else %}
                                    {{ word.content }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="cat">Palabras malas</td>
                        <td>
                            {% for word in bad_words %}
                                {% if loop.last %}
                                    {{ word.content }}
                                {% else %}
                                    {{ word.content }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="cat">Personas de piel clara</td>
                        <td>
                            {% for img in white_people %}
                                <img class="example" src="Static/imgs/stimuli/{{ img.content }}.JPG">
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="cat">Personas de piel oscura</td>
                        <td>
                            {% for img in dark_people %}
                                <img class="example" src="Static/imgs/stimuli/{{ img.content }}.JPG">
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <p>
                    <b>Considera lo siguiente:</b>
                </p>
                <ul>
                    <li>El tiempo en el que respondas el IAT es importante para la interpretación de tus resultados, así que responde lo más rápido posible.</li>
                    <li>Es importante que no te distraigas.</li>
                </ul>
            </div>
            
            {# Conditional message for mobile devices #}
            {% if session["mobile"] %}
                <div class="item buttonsContainer">
                    <button id="OkButton" class="okBtn">Comenzar prueba</button>
                </div>
            {% else %}
                <div class="item keyInstructions">
                    <p>Cuando estés listo/a, presiona la <span>barra espaciadora</span> para continuar.</p>
                </div>
            {% endif %}
        
        </div>
    </div>
    <div id="footer">
        <div class="logos">
            <img id="projectLogo" src="Static/imgs/theme/logo_disc_white.png" alt="Logo PRODER (Blanco)">
            <img id="colmexLogo" src="Static/imgs/theme/logo_colmex_white.svg" alt="Logo del Colegio de México (Blanco)">
        </div>
        <div class="text">
            <p>
                Todos los derechos reservados. Proyecto sobre Discriminación Étnico-Racial en México, El Colegio de
                México
                A.C. © 2020
            </p>
            <p>
                Carretera Picacho Ajusco 20, Col. Ampliación Fuentes del Pedregal, C.P. 14110, Tlalpan, Ciudad de
                México
            </p>
        </div>
    </div>
</div>
{% endblock %}