{% extends "base.html" %}
{% block head %}
<!-- Estilos -->
<link rel="stylesheet" href="Static/style/main.css">
<link rel="stylesheet" href="Static/style/survey.css">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--reCaptcha-->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- JS -->
<script src="Static/js/api/api.min.js"></script>
<script src="Static/js/survey.min.js"></script>

{# If mobile, use orientationCheck script #}
{% if session["mobile"] %}
    <script src="Static/js/orientationCheck.min.js"></script>
{% endif %}

{% endblock %}
{% block title %} Encuesta de Salida {% endblock %}
{% block body %}
<div id="page">
    <div id="content">
        <div id="gridContainer">
            <div class="item messageContainer">
                <h1>Ya casi terminamos...</h1>
                <p>
                    Por favor, ayúdanos contestando las siguientes preguntas, tus respuestas nos servirán para calibrar
                    tus resultados en la prueba. Las preguntas marcadas con un asterisco son obligatorias para poder
                    continuar.
                </p>
                <hr>
            </div>
            <div class="item questionsContainer">
                <span id="srvy_age_label" class="input_label">¿Cuántos años cumplidos tienes?</span><span
                        id="srvy_age_label_rm" class="required_mark">*</span>
                <input type="tel" id="srvy_age">
                <div id="srvy_age_wi" class="wrong_input" style="display: none;"></div>
                <br class="spacer_small">
                <span id="srvy_sex_label" class="input_label">¿Eres?</span><span id="srvy_sex_label_rm"
                        class="required_mark">*</span>
                <select id="srvy_sex">
                    <option value="NONE" selected></option>
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                    <option value="88">Otro</option>
                    <option value="99">Prefiero no decir</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">¿Ocupación?</span>
                <select id="srvy_lab">
                    <option value="NONE" selected></option>
                    <option value="1">No trabajo</option>
                    <option value="2">No trabajo, pero busco empleo</option>
                    <option value="3">Tengo una condición física o mental que me impide trabajar</option>
                    <option value="4">Me dedico a los quehaceres del hogar</option>
                    <option value="5">Estoy jubilado/pensionado y dejé de trabajar</option>
                    <option value="6">Soy estudiante</option>
                    <option value="7">Soy empleado asalariado en el gobierno (Federal, Estatal o Municipal)</option>
                    <option value="8">Soy empleado asalariado en una institución pública (Universidad o Centro de
                        Investigación)</option>
                    <option value="9">Soy militar (SEDENA o SEMAR)</option>
                    <option value="10">Soy empleado asalariado en el sector privado</option>
                    <option value="11">Soy patrono/socio de una empresa</option>
                    <option value="12">Trabajo por mi propia cuenta o bajo un régimen de honorarios</option>
                    <option value="88">Ninguna de las opciones describe mi situación</option>
                    <option value="99">Prefiero no decir</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">¿Escolaridad?</span>
                <select id="srvy_esc">
                    <option value="NONE" selected></option>
                    <option value="1">Sin estudios</option>
                    <option value="2">Primaria completa</option>
                    <option value="3">Secundaria completa</option>
                    <option value="4">Carrera comercial</option>
                    <option value="5">Bachillerato comercial</option>
                    <option value="6">Carrera técnica</option>
                    <option value="7">Licenciatura completa</option>
                    <option value="8">Maestria completa</option>
                    <option value="9">Doctorado completo</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">¿Cuál es tu nacionalidad?</span>
                <select id="srvy_country">
                    <option value="NONE" selected></option>
                    <option value="MX">México</option>
                    <option value="99">Prefiero no decir</option>
                    <option value="AF">Afganistán</option>
                    <option value="AL">Albania</option>
                    <option value="DE">Alemania</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antártida</option>
                    <option value="AG">Antigua y Barbuda</option>
                    <option value="AN">Antillas Holandesas</option>
                    <option value="SA">Arabia Saudí</option>
                    <option value="DZ">Argelia</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaiyán</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrein</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BE">Bélgica</option>
                    <option value="BZ">Belice</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermudas</option>
                    <option value="BY">Bielorrusia</option>
                    <option value="MM">Birmania</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia y Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BR">Brasil</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="BT">Bután</option>
                    <option value="CV">Cabo Verde</option>
                    <option value="KH">Camboya</option>
                    <option value="CM">Camerún</option>
                    <option value="CA">Canadá</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CY">Chipre</option>
                    <option value="VA">Ciudad del Vaticano (Santa Sede)</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comores</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, República Democrática del</option>
                    <option value="KR">Corea</option>
                    <option value="KP">Corea del Norte</option>
                    <option value="CI">Costa de Marfíl</option>
                    <option value="CR">Costa Rica</option>
                    <option value="HR">Croacia (Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="DK">Dinamarca</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egipto</option>
                    <option value="SV">El Salvador</option>
                    <option value="AE">Emiratos Árabes Unidos</option>
                    <option value="ER">Eritrea</option>
                    <option value="SI">Eslovenia</option>
                    <option value="ES">España</option>
                    <option value="US">Estados Unidos</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Etiopía</option>
                    <option value="FJ">Fiji</option>
                    <option value="PH">Filipinas</option>
                    <option value="FI">Finlandia</option>
                    <option value="FR">Francia</option>
                    <option value="GA">Gabón</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GD">Granada</option>
                    <option value="GR">Grecia</option>
                    <option value="GL">Groenlandia</option>
                    <option value="GP">Guadalupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GY">Guayana</option>
                    <option value="GF">Guayana Francesa</option>
                    <option value="GN">Guinea</option>
                    <option value="GQ">Guinea Ecuatorial</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="HT">Haití</option>
                    <option value="HN">Honduras</option>
                    <option value="HU">Hungría</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IQ">Irak</option>
                    <option value="IR">Irán</option>
                    <option value="IE">Irlanda</option>
                    <option value="BV">Isla Bouvet</option>
                    <option value="CX">Isla de Christmas</option>
                    <option value="IS">Islandia</option>
                    <option value="KY">Islas Caimán</option>
                    <option value="CK">Islas Cook</option>
                    <option value="CC">Islas de Cocos o Keeling</option>
                    <option value="FO">Islas Faroe</option>
                    <option value="HM">Islas Heard y McDonald</option>
                    <option value="FK">Islas Malvinas</option>
                    <option value="MP">Islas Marianas del Norte</option>
                    <option value="MH">Islas Marshall</option>
                    <option value="UM">Islas menores de Estados Unidos</option>
                    <option value="PW">Islas Palau</option>
                    <option value="SB">Islas Salomón</option>
                    <option value="SJ">Islas Svalbard y Jan Mayen</option>
                    <option value="TK">Islas Tokelau</option>
                    <option value="TC">Islas Turks y Caicos</option>
                    <option value="VI">Islas Vírgenes (EEUU)</option>
                    <option value="VG">Islas Vírgenes (Reino Unido)</option>
                    <option value="WF">Islas Wallis y Futuna</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italia</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japón</option>
                    <option value="JO">Jordania</option>
                    <option value="KZ">Kazajistán</option>
                    <option value="KE">Kenia</option>
                    <option value="KG">Kirguizistán</option>
                    <option value="KI">Kiribati</option>
                    <option value="KW">Kuwait</option>
                    <option value="LA">Laos</option>
                    <option value="LS">Lesotho</option>
                    <option value="LV">Letonia</option>
                    <option value="LB">Líbano</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libia</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lituania</option>
                    <option value="LU">Luxemburgo</option>
                    <option value="MK">Macedonia, Ex-República Yugoslava de</option>
                    <option value="MG">Madagascar</option>
                    <option value="MY">Malasia</option>
                    <option value="MW">Malawi</option>
                    <option value="MV">Maldivas</option>
                    <option value="ML">Malí</option>
                    <option value="MT">Malta</option>
                    <option value="MA">Marruecos</option>
                    <option value="MQ">Martinica</option>
                    <option value="MU">Mauricio</option>
                    <option value="MR">Mauritania</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">México</option>
                    <option value="FM">Micronesia</option>
                    <option value="MD">Moldavia</option>
                    <option value="MC">Mónaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MZ">Mozambique</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Níger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk</option>
                    <option value="NO">Noruega</option>
                    <option value="NC">Nueva Caledonia</option>
                    <option value="NZ">Nueva Zelanda</option>
                    <option value="OM">Omán</option>
                    <option value="NL">Países Bajos</option>
                    <option value="PA">Panamá</option>
                    <option value="PG">Papúa Nueva Guinea</option>
                    <option value="PK">Paquistán</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Perú</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PF">Polinesia Francesa</option>
                    <option value="PL">Polonia</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="UK">Reino Unido</option>
                    <option value="CF">República Centroafricana</option>
                    <option value="CZ">República Checa</option>
                    <option value="ZA">República de Sudáfrica</option>
                    <option value="DO">República Dominicana</option>
                    <option value="SK">República Eslovaca</option>
                    <option value="RE">Reunión</option>
                    <option value="RW">Ruanda</option>
                    <option value="RO">Rumania</option>
                    <option value="RU">Rusia</option>
                    <option value="EH">Sahara Occidental</option>
                    <option value="KN">Saint Kitts y Nevis</option>
                    <option value="WS">Samoa</option>
                    <option value="AS">Samoa Americana</option>
                    <option value="SM">San Marino</option>
                    <option value="VC">San Vicente y Granadinas</option>
                    <option value="SH">Santa Helena</option>
                    <option value="LC">Santa Lucía</option>
                    <option value="ST">Santo Tomé y Príncipe</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leona</option>
                    <option value="SG">Singapur</option>
                    <option value="SY">Siria</option>
                    <option value="SO">Somalia</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="PM">St Pierre y Miquelon</option>
                    <option value="SZ">Suazilandia</option>
                    <option value="SD">Sudán</option>
                    <option value="SE">Suecia</option>
                    <option value="CH">Suiza</option>
                    <option value="SR">Surinam</option>
                    <option value="TH">Tailandia</option>
                    <option value="TW">Taiwán</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TJ">Tayikistán</option>
                    <option value="TF">Territorios franceses del Sur</option>
                    <option value="TP">Timor Oriental</option>
                    <option value="TG">Togo</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad y Tobago</option>
                    <option value="TN">Túnez</option>
                    <option value="TM">Turkmenistán</option>
                    <option value="TR">Turquía</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UA">Ucrania</option>
                    <option value="UG">Uganda</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistán</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="YE">Yemen</option>
                    <option value="YU">Yugoslavia</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabue</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">¿En qué estado de la República Mexicana vives?</span>
                <select id="srvy_state">
                    <option value="NONE" selected></option>
                    <option value="99">Prefiero no decir</option>
                    <option value="88">No vivo en México</option>
                    <option value="AGS">Aguascalientes</option>
                    <option value="BCN">Baja California</option>
                    <option value="BCS">Baja California Sur</option>
                    <option value="CAM">Campeche</option>
                    <option value="CHP">Chiapas</option>
                    <option value="CHH">Chihuahua</option>
                    <option value="COA">Coahuila</option>
                    <option value="COL">Colima</option>
                    <option value="CMX">Ciudad de México</option>
                    <option value="DUR">Durango</option>
                    <option value="MEX">Estado de México</option>
                    <option value="GTO">Guanajuato</option>
                    <option value="GRO">Guerrero</option>
                    <option value="HID">Hidalgo</option>
                    <option value="JAL">Jalisco</option>
                    <option value="MIC">Michoacán</option>
                    <option value="MOR">Morelos</option>
                    <option value="QTO">Querétaro</option>
                    <option value="NAY">Nayarit</option>
                    <option value="NLO">Nuevo León</option>
                    <option value="OAX">Oaxaca</option>
                    <option value="PUE">Puebla</option>
                    <option value="ROO">Quintana Roo</option>
                    <option value="SLP">San Luis Potosí</option>
                    <option value="SIN">Sinaloa</option>
                    <option value="SON">Sonora</option>
                    <option value="TAB">Tabasco</option>
                    <option value="TAM">Tamaulipas</option>
                    <option value="TLX">Tlaxcala</option>
                    <option value="VER">Veracruz</option>
                    <option value="YUC">Yucatán</option>
                    <option value="ZAC">Zacatecas</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">¿Cuál es el código postal del área donde vives?</span>
                <input type="tel" id="srvy_zip">
                <div id="srvy_zip_wi" class="wrong_input" style="display: none;"></div>
                <br class="spacer_small">
                <span class="input_label">¿En qué colonia vives?</span>
                <input type="text" id="srvy_col">
                <div id="srvy_col_wi" class="wrong_input" style="display: none;"></div>
                <br class="spacer_small">
                <span class="input_label">Te consideras:</span>
                <select id="srvy_eth">
                    <option value="NONE" selected></option>
                    <option value="1">Indígena</option>
                    <option value="2">Negro/a</option>
                    <option value="3">Blanco/a</option>
                    <option value="4">Mestizo/a</option>
                    <option value="88">Ninguna de las anteriores</option>
                    <option value="99">Prefiero no decir</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">¿Cuál es tu tono de piel?</span>
                <select id="srvy_skin">
                    <option value="NONE" selected></option>
                    <option value="1">Negra</option>
                    <option value="2">Morena oscura</option>
                    <option value="3">Morena clara</option>
                    <option value="4">Blanca</option>
                    <option value="99">Prefiero no decir</option>
                </select>
                <br class="spacer_small">
                <span id="srvy_iat_label" class="input_label">¿Ya habías contestado alguna prueba de asociaciones
                    implícitas (IAT)
                    anteriormente?</span><span id="srvy_iat_label_rm" class="required_mark">*</span>
                <select id="srvy_iat">
                    <option value="NONE" selected></option>
                    <option value="1">Sí</option>
                    <option value="2">No</option>
                </select>
                <br class="spacer_small">
                <span id="srvy_hand_label" class="input_label">¿Con qué mano escribes?</span><span id="srvy_hand_label_rm"
                        class="required_mark">*</span>
                <select id="srvy_hand" style="width: 600px;">
                    <option value="NONE" selected></option>
                    <option value="1">Izquierda</option>
                    <option value="2">Derecha</option>
                </select>
                <br class="spacer_small">
                <span class="input_label">
                    ¿Cuál de estos factores crees que influyó en tu desempeño durante la prueba?
                </span>
                <span class="input_instructions">
                    Lee las cinco oraciones y marca, en la escala que va del 1 al 5, qué tan de acuerdo estás
                    con que el factor descrito influyó en tus resultados.
                </span>
                <table class="table_questions">
                    <tr>
                        <th></th>
                        <th>Totalmente en desacuerdo <span>1</span></th>
                        <th>Algo en desacuerdo <span>2</span></th>
                        <th>Ni en acuerdo, ni en desacuerdo <span>3</span></th>
                        <th>Algo de acuerdo <span>4</span></th>
                        <th>Totalmente de acuerdo <span>5</span></th>
                    </tr>
                    <tr>
                        <td>Cómo las personas son presentadas en los medios de comunicación</td>
                        <td class="option"><input type="radio" name="srvy_table_quest_1" value="1"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_1" value="2"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_1" value="3"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_1" value="4"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_1" value="5"></td>
                    </tr>
                    <tr>
                        <td>Mi familiaridad con un grupo (personas de piel morena o personas de piel blanca)
                        </td>
                        <td class="option"><input type="radio" name="srvy_table_quest_2" value="1"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_2" value="2"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_2" value="3"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_2" value="4"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_2" value="5"></td>
                    </tr>
                    <tr>
                        <td>El orden en que las categorías están presentadas</td>
                        <td class="option"><input type="radio" name="srvy_table_quest_3" value="1"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_3" value="2"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_3" value="3"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_3" value="4"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_3" value="5"></td>
                    </tr>
                    <tr>
                        <td>Mi conocimiento acerca de este tema</td>
                        <td class="option"><input type="radio" name="srvy_table_quest_4" value="2"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_4" value="1"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_4" value="3"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_4" value="4"></td>
                        <td class="option"><input type="radio" name="srvy_table_quest_4" value="5"></td>
                    </tr>
                </table>
                <br class="spacer_small">
                <span id="srvy_captcha_label" class="input_label">¿Eres un robot?</span><span id="srvy_captcha_label_rm" class="required_mark">*</span>
                <div class="g-recaptcha" data-sitekey="{{ reCaptcha_public }}"></div>
                <hr>
            </div>
            <div class="item buttonsContainer">
                <button id="OkButton" class="okBtn">Enviar</button>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="logos">
            <img id="projectLogo" src="Static/imgs/theme/logo_disc_white.png" alt="Logo PRODER (Blanco)">
            <img id="colmexLogo" src="Static/imgs/theme/logo_colmex_white.svg"
                alt="Logo del Colegio de México (Blanco)">
        </div>
        <div class="text">
            <p>
                Todos los derechos reservados. Proyecto sobre Discriminación Étnico-Racial en México, El Colegio de
                México
                A.C. © 2020
            </p>
            <p>
                Carretera Picacho Ajusco 20, Col. Ampliación Fuentes del Pedregal, C.P. 14110, Tlalpan, Ciudad de
                México
            </p>
        </div>
    </div>
</div>
<script>
    myAPI = new iatAPI();
</script>
{% endblock %}